<!DOCTYPE html>
<html>
<head>
  <title>Order Details | Smart Fashion</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/navbar') %>
  
  <div class="order-details-container">
    <h1>Order Details</h1>
    <!-- Add order details view here -->
  </div>
</body>
</html>